{% load static %}

<!-- Footer -->

   <footer class="bg-light text-center sticky shadow-5" data-sticky-position="bottom">
       <!-- Grid container -->
       <div class="container p-4 d-none d-lg-block">

           <!-- Social media -->
           <div class="mb-4">
               <!-- Facebook -->
               <a class="btn btn-primary btn-floating m-1" href="https://www.facebook.com" target="_blank"
                   role="button"><i class="fab fa-facebook-f"></i></a>

               <!-- Twitter -->
               <a class="btn btn-primary btn-floating m-1" href="https://www.twitter.com/" target="_blank"
                   role="button"><i class="fab fa-twitter"></i></a>

               <!-- Google -->
               <a class="btn btn-primary btn-floating m-1" href="https://www.google.com/" target="_blank"
                   role="button"><i class="fab fa-google"></i></a>

               <!-- Instagram -->
               <a class="btn btn-primary btn-floating m-1" href="https://www.instagram.com/" target="_blank"
                   role="button"><i class="fab fa-instagram"></i></a>

               <!-- Linkedin -->
               <a class="btn btn-primary btn-floating m-1" href="https://www.linkedin.com/" target="_blank"
                   role="button"><i class="fab fa-linkedin-in"></i></a>
           </div>
           <!-- Social media -->

           <!-- Links -->
           <div>
               <!--Grid row-->
               <div class="row">
                   <!--Grid column-->
                   <div class="col-lg-4">
                       <a class="navbar-brand me-2" href="{% url 'index' %}">
                           <img src="{% static 'images/logo.png' %}" height="100" width="200" alt="Hello Foody Logo">
                       </a>
                   </div>
                   <!--Grid column-->

                   <!--Grid column-->
                   <div class="col-lg-4">
                       <h5 class="text-uppercase">about</h5>

                       <ul class="list-unstyled mb-0">
                           <li>
                               <a href="#!" class="text-dark">Contact Us</a>
                           </li>
                           <li>
                               <a href="#!" class="text-dark">Sign Up For Newletter</a>
                           </li>
                           <li>
                               <a href="#!" class="text-dark">FAQ</a>
                           </li>
                       </ul>
                   </div>
                   <!--Grid column-->

                   <!--Grid column-->
                   <div class="col-lg-4">
                       <h5 class="text-uppercase">Join Us</h5>

                       <ul class="list-unstyled mb-0">
                           <li>
                               <a href="#!" class="text-dark">Partner With Us</a>
                           </li>
                           <li>
                               <a href="#!" class="text-dark">Add Your Restaurant</a>
                           </li>
                           <li>
                               <a href="#!" class="text-dark">Sign Up To Deliver</a>
                           </li>
                           <li>
                            <a href="{% url 'dashboard' %}" class="text-dark">Restaurant Login</a>
                        </li>
                       </ul>
                   </div>
                   <!--Grid column-->
               </div>
               <!--Grid row-->
            </div>
           <!-- Links -->
       </div>
       <!-- Grid container -->

       <!-- Copyright -->
       <div class="text-center p-3 d-none d-lg-block">
           © 2022 Copyright:
           <a class="text-dark" href="https://www.linkedin.com/in/niclastanskanen/">Niclas Tanskanen</a>
           <a class="btn btn-dark btn-floating m-1" href="https://www.github.com/niclastanskanen/" target="_blank"
               role="button"><i class="fab fa-github"></i></a>
       </div>
       <!-- Copyright -->
   </footer>