{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<!-- Jumbotron -->

<header class="text-center pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto position-relative">
                <h1 class="mb-5">Let Your Fingers Do the Walking Through the Food Delivery</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                <form>
                    <div class="row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input class="form-control form-control-lg" type="text"
                                placeholder="Search for specific restaurant" />
                        </div>
                        <div class="col-12 col-md-3">
                            <button class="btn btn-primary btn-rounded btn-lg" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!-- Jumbotron -->
<section>
    <!-- How It Works -->
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12">
                <hr class="hr hr-blurry" />
                <h2>How It Works</h2>
                <hr class="hr hr-blurry" />
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4">
                <img src="{% static 'images/order-food.png' %}" class="img-fluid rounded-circle shadow-2-strong"
                    alt="girl ordering food with mobile" />
                <h3>Step 1</h3>
                <p>Simply enter the food you're looking for and click "search".</p>
                <p>Once you choose a restaurant and a menu item, you're one step closer to finding the perfect fast food
                    joint!</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/delivery-food.png' %}" class="img-fluid rounded-circle shadow-2-strong"
                    alt="biker delivering food" />
                <h3>Step 2</h3>
                <p>The restaurant begins preparing your meal as soon as it receives your order.</p>
                <p>Our team will pick up and deliver your food as soon as it's ready!</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/give-food.jpeg' %}" class="img-fluid rounded-circle shadow-2-strong"
                    alt="deliver food throught a mobile" />
                <h3>Step 3</h3>
                <p>Following our deliveries will help you prepare for when the food arrives.</p>
                <p>Let's enjoy a good meal!</p>
            </div>
        </div>
    </div>
    <!-- How It Works -->
</section>
<section>
    <!-- Work With Hello Foody -->
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12">
                <hr class="hr hr-blurry" />
                <h2>Work With Hello Foody</h2>
                <hr class="hr hr-blurry" />
            </div>
        </div>
        <div class="row pt-5 align-items-center">
            <div class="col-md-6">
                <img src="{% static 'images/rider.png' %}" class="img-fluid rounded-circle shadow-2-strong"
                    alt="human on a bike">
            </div>
            <div class="col-md-6">
                <h3>As A Rider</h3>
                <p>With a bike and the right skills, you can earn money delivering food from restaurants!</p>
                <button class="btn btn-primary btn-rounded">Ride With Us</button>
            </div>
        </div>
        <hr class="hr hr-blurry" />
        <div class="row pt-5 align-items-center">
            <div class="col-md-6">
                <h3>As A Partner</h3>
                <p>With online ordering, loyalty programs, and more, Hello Foody helps restaurants grow!</p>
                <button class="btn btn-primary btn-rounded">Partner With Us</button>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/partner.png' %}" class="img-fluid rounded-circle shadow-2-strong"
                    alt="phone with loyalty program">
            </div>
        </div>
        <hr class="hr hr-blurry" />
        <div class="row pt-5 align-items-center">
            <div class="col-md-6">
                <img src="{% static 'images/colleague.png' %}" class="img-fluid rounded-circle shadow-2-strong"
                    alt="business people around a table">
            </div>
            <div class="col-md-6">
                <h3>As A Colleague</h3>
                <p>Join our team to help us develop a delivery service that is second to none!</p>
                <button class="btn btn-primary btn-rounded">Work With Us</button>
            </div>
        </div>
    </div>
    <!-- Work With Hello Foody -->
</section>
<section>
    <!-- Download Our App-->
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <hr class="hr hr-blurry" />
                <h2>Download Our App</h2>
                <hr class="hr hr-blurry" />
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <p>With Hello Foody, you can order food from local restaurants delivered to your door in the shortest
                    time possible.</p>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-primary btn-rounded btn-icon-text">
                    <i class="fa-brands fa-apple fa-2x"></i>
                    <span class="d-inline-block text-left">
                        <small class="font-weight-light d-block">Available on the</small>
                        App Store
                    </span>
                </button>
                <button class="btn btn-outline-primary btn-rounded btn-icon-text">
                    <i class="fa-brands fa-android fa-2x"></i>
                    <span class="d-inline-block text-left">
                        <small class="font-weight-light d-block">Get it on the</small>
                        Google Play
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!-- Download Our App-->
</section>
{% endblock content %}