{% extends 'customer/base.html' %}

{% block content %}

<div class="d-flex align-items-center d-lg-block">
    {% if user.is_authenticated %}
    <a href="{% url 'account_logout' %}">
        <button type="button" class="btn btn-outline-primary btn-rounded px-3 me-2"
            data-mdb-ripple-color="dark">Log Out</button></a>
    {% else %}
    <a href="{% url 'account_login' %}">
        <button type="button" class="btn btn-outline-primary btn-rounded px-3 me-2"
            data-mdb-ripple-color="dark">Sign In</button></a>
    <a href="{% url 'account_signup' %}">
        <button type="button" class="btn btn-primary btn-rounded px-3 me-2">Sign Up</button>
    </a>
    {% endif %}
</div>
{% endblock content %}