{% extends 'customer/base.html' %}
{% load static %}

{% block content %}
<div class="container pt-5 pb-5">
    <div class="card text-center">
        <div class="card-header">
            <h2>Payment Submitted!</h2>
        </div>
        <img src="{% static 'images/pay-confirmation.jpeg' %}" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
            <p class="card-text">Thank you for paying in advance, it makes it easier for us and manages a smoother delivery.</p>
            <a href="{% url 'index' %}" class="btn btn-primary btn-rounded">Go back to homepage</a>
        </div>
    </div>
</div>
{% endblock content %}

{% static 'images/give-food.jpeg' %}