{% extends 'customer/base.html' %}

{% block content %}
<!-- starters  -->
<section class="pb-5">
    <div class="container">
        <div class="row justify-content-center mt-1">
            <div class="col-md-12 col-sm-12 p-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="pt-5">
                        <h3>Starters</h3>
                        {% for starter in starters %}
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <img class="rounded" src="{{ starter.image.url }}" alt="starter food image" width="250"
                                    height="200">
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="row">
                                    <div class="form-group form-check pt-3">
                                        <input type="checkbox" name="items[]" class="form-check-input"
                                            value="{{ starter.pk }}">
                                        <label class="form-check-label">{{ starter.name }}</label>
                                    </div>
                                    <p class="fw-bolder text-end">$ {{ starter.price }}</p>
                                </div>
                                <p>{{ starter.description }}</p>
                            </div>
                        </div>
                        <hr class="hr hr-blurry">
                        {% endfor %}
                    </div>
                    <!-- starters  -->
                    <!-- main -->
                    <div class="pt-5">
                        <h3>Main</h3>
                        {% for main in main %}
                        <div class="row mt-4">
                            <div class="col-md-4 col-sm-12">
                                <img class="rounded" src="{{ main.image.url }}" alt="main food image" width="250"
                                    height="200">
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="row">
                                    <div class="form-group form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input"
                                            value="{{ main.pk }}">
                                        <label class="form-check-label">{{ main.name }}</label>
                                    </div>
                                    <p class="fw-bolder text-end">$ {{ main.price }}</p>
                                </div>
                                <p>{{ main.description }}</p>
                            </div>
                        </div>
                        <hr class="hr hr-blurry">
                        {% endfor %}
                    </div>
                    <!-- main -->
                    <!-- desserts -->
                    <div class="pt-5">
                        <h3>Desserts</h3>
                        {% for dessert in desserts %}
                        <div class="row mt-4">
                            <div class="col-md-4 col-sm-12">
                                <img class="rounded" src="{{ dessert.image.url }}" alt="dessert food image" width="250"
                                    height="200">
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="row">
                                    <div class="form-group form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input"
                                            value="{{ dessert.pk }}">
                                        <label class="form-check-label">{{ dessert.name }}</label>
                                    </div>
                                    <p class="fw-bolder text-end">$ {{ dessert.price }}</p>
                                </div>
                                <p>{{ dessert.description }}</p>
                            </div>
                        </div>
                        <hr class="hr hr-blurry">
                        {% endfor %}
                    </div>
                    <!-- desserts -->
                    <!-- drinks -->
                    <div class="pt-5">
                        <h3>Drinks</h3>
                        {% for drink in drinks %}
                        <div class="row mt-4">
                            <div class="col-md-4 col-sm-12">
                                <img class="rounded" src="{{ drink.image.url }}" alt="drinks image" width="250"
                                    height="200">
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="row">
                                    <div class="form-group form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input"
                                            value="{{ drink.pk }}">
                                        <label class="form-check-label">{{ drink.name }}</label>
                                    </div>
                                    <p class="fw-bolder text-end">$ {{ drink.price }}</p>
                                </div>
                                <p>{{ drink.description }}</p>
                            </div>
                        </div>
                        <hr class="hr hr-blurry">
                        {% endfor %}
                    </div>
                    <!-- drinks -->
                    <!-- input fields  -->
                    <div class="form-outline mb-2">
                        <input required type="text" id="form12" class="form-control" name="name">
                        <label class="form-label" for="form12">Your Name</label>
                    </div>
                    <div class="form-outline mb-2">
                        <input required type="email" id="typeEmail" class="form-control" name="email">
                        <label class="form-label" for="typeEmail">mail@example.com</label>
                    </div>
                    <div class="form-outline mb-2">
                        <input required type="text" id="street" class="form-control" name="street">
                        <label class="form-label" for="street">Street Address</label>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-outline">
                                <input required type="text" id="phone" class="form-control" name="phone">
                                <label class="form-label" for="phone">Phone Number</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-outline">
                                <input required type="text" id="city" class="form-control" name="city">
                                <label class="form-label" for="city">City</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-outline">
                                <input required type="text" id="zip" class="form-control" name="zip">
                                <label class="form-label" for="zip">Zip Code</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-outline">
                        <textarea class="form-control" id="textAreaExample" rows="4" name="message"></textarea>
                        <label class="form-label" for="textAreaExample">Message</label>
                    </div>
            </div>
        </div>
        <!-- input fields  -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#submitModal">
            Submit Order!
        </button>
        <!-- Modal -->
            <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="submitModalLabel">Submit Your Order!</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Go Back</button>
                            <button type="submit" class="btn btn-primary">Place Order!</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock content %}