{% extends 'customer/base.html' %}

{% block content %}
<!-- Restaurants  -->
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    <h3>Restaurants</h3>
                    {% for restaurant in restaurants %}
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <img src="{{ restaurant.image.url }}" width="400" height="200" />
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <h3>{{ restaurant.name }}</h3>
                            </div>
                        </div>
                        <hr class="hr hr-blurry" />
                        {% endfor %}
                    </div>
                    <!-- Restaurants  -->
                </div>
        </div>
    </div>

    {% endblock content %}