{% extends 'customer/base.html' %}

{% block content %}

{% for restaurant in restaurants %}
<div class="container pt-5">
    <div class="container">
        <div class="card">
            <img src="{{ restaurant.image.url }}" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{ restaurant.name }}</h5>
                <p class="card-text">{{ restaurant.description }}</p>
                <a href="{% url 'menu' %}" class="btn btn-primary btn-rounded">See Menu</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}