{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Hello Foody - Sign In" %}{% endblock %}

{% block content %}
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <h3 class="mb-2">{% trans "Sign In" %}</h3>
          <p>{% blocktrans %}Welcome to Hello Foody.
            {% endblocktrans %}</p>
          <div class="form-outline mb-4">
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn btn-outline-primary btn-lg btn-block btn-rounded "
                type="submit">{% trans "Sign In" %}</button>
            </form>
            <div class="divider d-flex justify-content-center my-4">
              <p class="fw-bold mx-3 mb-0">Or</p>
            </div>
            <button class="btn btn-lg btn-block btn-primary btn-rounded" style="background-color: #dd4b39 !important;"
              type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
            <button class="btn btn-lg btn-block btn-primary btn-rounded mb-2"
              style="background-color: #3b5998 !important;" type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in
              with facebook</button>
            <hr class="my-4">
            <p> Not a member?</p>
            <a href="{% url 'account_signup' %}">
              <button type="button" class="btn btn-lg btn-block btn-primary btn-rounded">Sign Up</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}