{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="vh-100">
    <div class="container pt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-2">{% trans "Change Password" %}</h3>
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" name="action"
                                class="btn btn-primary btn-lg btn-block btn-rounded">{% trans "Change Password" %}</button>
                            <hr class="my-4">
                            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </form>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}