{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="vh-100">
    <div class="container pt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-2">{% trans "Password Reset" %}</h3>
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                        </p>
                        <hr class="my-4">
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="{% trans 'Reset My Password' %}"
                                class="btn btn-primary btn-lg btn-block btn-rounded">
                        </form>
                        <hr class="my-4">
                        <p>{% blocktrans %}Please contact us if you have any trouble resetting your
                            password.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}