{% extends 'restaurant/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="card col-md-5 mr-3">
            <h4 class="text-center pt-2">Today's Total Revenue</h4>
            <h1 class="text-center" style="color: #20cc79">${{ total_revenue }}</h1>
        </div>
        <div class="card col-md-5 mr-3">
            <h4 class="text-center pt-2">Today's Total Orders</h4>
            <h1 class="text-center" style="color: #ff5842">{{ total_orders }}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 mt-5">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Price</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Street</th>
                        <th scope="col">City</th>
                        <th scope="col">Zip code</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Is Paid?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}