{% extends 'restaurant/base.html' %}

{% block content %}
<div class="ms-5">
    <td><a href="{% url 'edit-menu' %}"><i class="fas fa-arrow-left pt-3 ml-5"> Go Back</i></a></td>
</div>
<div class="container pt-3">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Item ID: {{ item.pk }}</h3>
            {% if submitted %}
            Your Menu Item Was Updated Successfully!
            {% else %}
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-rounded">Update Menu Item</button>
                    <a href="/delete/{{ item.id }}" class="btn btn-primary btn-rounded">
                        <button>Delete</button>
                    </a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

