{% extends 'restaurant/base.html' %}

{% block content %}
<div class="ms-5">
    <td><a href="{% url 'dashboard' %}"><i class="fas fa-arrow-left pt-3 ml-5"> Go Back</i></a></td>
</div>
<div class="container pt-3">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Edit Items In Menu</h3>
            <div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTable" class="table my-0">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in menu_items %}
                        <tr>
                            <th>{{ item.pk }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.price }}</td>
                            <td><a href="#"><i class="fas fa-edit"></i></a></td>
            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}